In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/e_commerce_shopper_behaviour_and_lifestyle.csv')

In [3]:
caca = "user_id" * 2
caca

'user_iduser_id'

In [5]:
import random

# 1. On isole l'ID et on prépare le reste
id_col = ["user_id", "last_purchase_date"]
# On récupère toutes les colonnes sauf l'ID
other_cols = [c for c in df.columns if c not in id_col]

# 2. Mélange des colonnes restantes (en convertissant en liste pour éviter le TypeError)
other_cols = list(other_cols)
random.seed(42)
random.shuffle(other_cols)

# 3. Calcul du point de coupe
split_index = len(other_cols) // 2
cols_part_1 = other_cols[:split_index]
cols_part_2 = other_cols[split_index:]

# 4. Création des deux DataFrames en incluant l'ID dans chaque sélection
# Syntaxe Pandas : df[[liste_de_colonnes]]
df_1 = df[id_col + cols_part_1].copy()
df_2 = df[id_col + cols_part_2].copy()

# Vérification
print(f"Colonnes DF 1 : {list(df_1.columns)}")
print(f"Colonnes DF 2 : {list(df_2.columns)}")

Colonnes DF 1 : ['user_id', 'last_purchase_date', 'daily_session_time_minutes', 'product_category_preference', 'app_usage_frequency', 'ethnicity', 'cart_abandonment_rate', 'coupon_usage_frequency', 'notification_response_rate', 'premium_subscription', 'health_conscious_shopping', 'preferred_payment_method', 'household_size', 'ad_views_per_day', 'impulse_buying_score', 'social_media_influence_score', 'brand_loyalty_score', 'physical_activity_level', 'urban_rural', 'loyalty_program_member', 'wishlist_items_count', 'income_level', 'budgeting_style', 'occupation', 'stress_from_financial_decisions', 'referral_count', 'return_rate', 'shopping_time_of_day', 'age', 'cart_items_average', 'weekend_shopper']
Colonnes DF 2 : ['user_id', 'last_purchase_date', 'checkout_abandonments_per_month', 'average_order_value', 'return_frequency', 'exercise_frequency', 'impulse_purchases_per_month', 'language_preference', 'hobby_count', 'sleep_quality', 'environmental_consciousness', 'purchase_conversion_rate', 'device_type', 'product_views_per_day', 'social_sharing_frequency', 'country', 'browse_to_buy_ratio', 'reading_habits', 'employment_status', 'travel_frequency', 'mental_health_score', 'education_level', 'account_age_months', 'has_children', 'weekly_purchases', 'monthly_spend', 'review_writing_frequency', 'ad_clicks_per_day', 'gender', 'relationship_status', 'overall_stress_level']

In [6]:
col1 = [
    'user_id', 'age', 'gender', 'country', 'urban_rural', 'income_level',
    'employment_status', 'education_level', 'relationship_status',
    'has_children', 'household_size', 'occupation', 'ethnicity',
    'language_preference', 'device_type'
]

In [7]:
col2 = ['user_id', 'weekly_purchases', 'monthly_spend', 'cart_abandonment_rate',
    'review_writing_frequency', 'average_order_value', 'preferred_payment_method',
    'coupon_usage_frequency', 'loyalty_program_member', 'referral_count',
    'product_category_preference', 'shopping_time_of_day', 'weekend_shopper',
    'impulse_purchases_per_month', 'browse_to_buy_ratio', 'return_frequency',
    'budgeting_style', 'brand_loyalty_score', 'impulse_buying_score',
    'environmental_consciousness', 'health_conscious_shopping', 'travel_frequency',
    'hobby_count', 'social_media_influence_score', 'reading_habits', 'exercise_frequency',
    'stress_from_financial_decisions', 'overall_stress_level', 'sleep_quality',
    'physical_activity_level', 'mental_health_score', 'daily_session_time_minutes',
    'product_views_per_day', 'ad_views_per_day', 'ad_clicks_per_day',
    'wishlist_items_count', 'cart_items_average', 'checkout_abandonments_per_month',
    'purchase_conversion_rate', 'app_usage_frequency', 'notification_response_rate',
    'account_age_months', 'last_purchase_date', 'social_sharing_frequency',
    'premium_subscription', 'return_rate']

In [8]:
df_1.to_csv('data/user_info1.csv', index=False)

In [9]:
df_2.to_csv('data/user_info2.csv', index=False)

In [11]:
df_2

,user_id,last_purchase_date,checkout_abandonments_per_month,average_order_value,return_frequency,exercise_frequency,impulse_purchases_per_month,language_preference,hobby_count,sleep_quality,...,education_level,account_age_months,has_children,weekly_purchases,monthly_spend,review_writing_frequency,ad_clicks_per_day,gender,relationship_status,overall_stress_level
0,1,2025-06-22,2,445,1,4,2,English,0,5,...,Associate Degree,19,0,4,2405,3,1,Female,Single,0
1,2,2026-07-25,7,179,12,4,3,Mandarin,1,9,...,Bachelor,8,1,13,3651,6,2,Male,Single,5
2,3,2026-02-26,3,26,5,4,2,Hindi,2,8,...,Associate Degree,13,1,10,2045,1,4,Female,Married,0
3,4,2026-10-27,9,403,2,0,3,Hindi,1,9,...,Bachelor,9,0,16,1611,2,2,Male,Widowed,0
4,5,2026-06-23,0,68,12,5,6,English,5,5,...,Associate Degree,3,1,17,3476,3,0,Female,Widowed,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996,2025-06-27,3,374,12,6,6,Mandarin,5,4,...,Master,21,0,15,279,3,1,Female,In a relationship,8
999996,999997,2025-06-05,9,156,3,4,2,Hindi,3,4,...,Master,15,0,10,773,4,0,Male,Divorced,3
999997,999998,2026-09-25,5,156,8,7,3,German,1,9,...,Bachelor,16,1,11,387,4,3,Male,Married,6
999998,999999,2026-10-25,2,269,7,1,3,English,0,6,...,High School,11,0,1,114,1,3,Female,Single,2
999999,1000000,2025-12-17,10,261,9,5,2,French,5,5,...,Bachelor,1,1,5,392,2,4,Male,In a relationship,3